.formular {
  text-align: center;
  display: flex;
  align-content: center;
  padding-top: 10%;
  margin: auto;
}
form {
  margin: 50px;
  width: 500px;
}
.item-flex {
  display: flex;
}

.label-container {
  width: 23%;
  text-align: right;
}

.input-container {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
#form2 {
  padding-top: 15px;
  background-color: darkgrey;
  align-self: center;
  margin: auto;
}
.input-button {
  align-self: center;
  margin: auto;
}
.submitbtn {
  width: 200px;
  height: 50px;
  font-size: 24px;
}
.orderlist {
  align-items: center;
}
table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
#age {
  width: 30px;
}
